@import "tailwindcss";

/* body, html {
  overflow-x: hidden;
  background: black;
} */

/* Default dot color - gray */
.slick-dots li button:before {
  color: #000000 !important; 
  font-size: 12px;
}

/* Active dot color - white */
.slick-dots li.slick-active button:before {
  color: #000000 !important; 
  font-size: 14px;
}
